<div class="container mx-auto">
  <form
    class="flex flex-col max-w-md mx-auto bg-gray-50 dark:bg-gray-700 rounded p-4"
    (ngSubmit)="onSubmit(legalContractForm)"
    #legalContractForm="ngForm"
  >
    <div>
      <h2 class="text-2xl font-semibold text-gray-900 dark:text-white mb-5">
        Legal Contract Form
      </h2>
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <input
        type="text"
        name="title"
        id="floating_title"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
        [(ngModel)]="legalContract.title"
        ng-maxlength="128"
      />
      <label
        for="floating_title"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Title</label
      >
      <small
        class="mt-2 text-sm text-red-600 dark:text-red-500"
        *ngIf="
          legalContractForm.controls['title']?.invalid &&
          legalContractForm.controls['title']?.dirty
        "
      >
        Required
      </small>
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <input
        type="text"
        name="author"
        id="floating_author"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
        [(ngModel)]="legalContract.author"
      />
      <label
        for="floating_author"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Author</label
      >
      <small
        class="mt-2 text-sm text-red-600 dark:text-red-500"
        *ngIf="
          legalContractForm.controls['author']?.invalid &&
          legalContractForm.controls['author']?.dirty
        "
      >
        Required
      </small>
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <label
        for="message"
        class="block mb-2 text-sm font-medium text-gray-500 dark:text-gray-400"
        >Description</label
      >
      <textarea
        id="description"
        rows="4"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Write a short description here..."
        [(ngModel)]="legalContract.description"
        name="description"
      ></textarea>
    </div>
    <button
      [disabled]="
        (legalContractForm.invalid && legalContractForm.dirty) ||
        legalContractForm.pristine
      "
      id="submit"
      type="submit"
      mat-button
    >
      Submit
    </button>
  </form>
</div>
